@mixin flexible($jus: null, $items: null, $direction: null) {
  display: flex;
  justify-content: $jus;
  align-items: $items;
  flex-direction: $direction;
}
@mixin padding($padding: null) {
  padding: $padding;
}
@mixin margin($margin: null) {
  margin: $margin;
}
@mixin border($border: null, $border-radius: null) {
  border: $border;
  border-radius: $border-radius;
}
@mixin ul(
  $pad: null,
  $mar: null,
  $list-style: null,
  $width: null,
  $height: null
) {
  padding: $pad;
  margin: $mar;
  list-style: $list-style;
  width: $width;
  height: $height;
}
@mixin TextFont(
  $f_size: null,
  $f_color: null,
  $text_decaration: null,
  $text_align: null,
  $margin: null,
  $padding: null,
  $background: null,
  $text_weight: null,
  $line_height: null,
  $transition: null
) {
  font-size: $f_size;
  font-weight: $text_weight;
  line-height: $line_height;
  color: $f_color;
  text-decoration: $text_decaration;
  margin: $margin;
  padding: $padding;
  background-color: $background;
  text-align: $text_align;
  text-decoration: $text_decaration;
  transition: $transition;
}
@mixin Img(
  $img_width: null,
  $img_height: null,
  $object_fit: null,
  $boder: null,
  $border_radius: null,
  $margin: null,
  $b_shadow: null
) {
  width: $img_width;
  height: $img_height;
  margin: $margin;
  border-radius: $border_radius;
  box-shadow: $b_shadow;
  border: $boder;
  object-fit: $object_fit;
}
@mixin Inputs(
  $width: null,
  $padding: null,
  $margin: null,
  $border_radius: null,
  $color: null,
  $height: null
) {
  width: $width;
  margin: $margin;
  padding: $padding;
  border-radius: $border_radius;
  color: $color;
  height: $height;
}
@mixin _button(
  $width: null,
  $padding: null,
  $margin: null,
  $border_radius: null,
  $color: null,
  $bg_color: null,
  $border: null,
  $text_align: null,
  $height: null,
  $font_size: null
) {
  width: $width;
  margin: $margin;
  padding: $padding;
  border-radius: $border_radius;
  color: $color;
  background-color: $bg_color;
  border: $border;
  text-align: $text_align;
  height: $height;
  font-size: $font_size;
}
